body {
  background: rgba(0, 255, 255, 0.774);
}

.main {
  width: 90%;
  background: rgba(0, 0, 0, 0.164);
  height: 600px;
  border: 4px double green;
  margin-left: 5%;
  padding: 20px;
  font-size: 19px;
  font-weight: bold;
}

button {
  font-size: 20px;
  font-weight: bold;
  width: 135px;
}

#num1, #num2 {
  width: 70px;
  height: 25px;
}

input {
  font-size: 18px;
}
